*.zip
/Serie3/Aufgabe 1.aux
/Serie3/Aufgabe 1.bbl
/Serie3/Aufgabe 1.blg
/Serie3/Aufgabe 1.log
/Serie3/Aufgabe 1.pdf
/Serie3/Aufgabe 1.synctex.gz
/Serie3/Aufgabe 1.tex.bak
*.toc
*.tex.bak
*.pdf
*.log
*.idx
*.aux
*.synctex.gz
*.out
